*{
    margin: 0px;
    padding: 0px;
 }
 
 *{
    font-family: 'Noto Sans JP', sans-serif;;
 }
 
 nav{
    height: 50px;
    background-color: #212121;
 }
 
 .menu{
    padding: 13px 70px;
    margin: 0px;
    list-style: none ;
    display: flex;
    justify-content: space-between;
 }
 
 
 .menu.menu_item{
    color:#ffffff;
    font-size: 15px;
    font-weight: 300;
 
 }
 
 
 .menu_item{
    border-right: 2px dotted black ;
    padding-right: 15px;
 
 
 }
 
 
 .subheader{
    height:84px ;
    background-color: rgba(0,0,0, .6);
    
 }
 
 
 .subheader_logo img {
    max-height: 70px;
 }
 
 
 body{
    background-image:url('../img/bmwf90.jpg');
    background-repeat: no-repeat;
    background-size:cover;
 }
 
 
 h1{
    color: ghostwhite;
    position: relative;
    right: 380px;
    top: 15px;
    font-family: 'Anton', sans-serif;;
}
 
 
button{
   position: relative;
   bottom: 40px;
   font-weight: bold;
   color: ghostwhite;
   border-radius:40px;
}

.row button {
   width: 80px;
   border-radius:40px;
   background-color:deepskyblue;
}

.block{
   display: flex;
   justify-content: space-around;
}

.card{
   margin-top: 200px;
}

footer{
   

   background-color:ghostwhite;
}

